/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.row{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.column{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.row_between{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.column_start{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.column_around{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around
}
.column_between{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	}
.colorBlack{
	color: black;
}
.backBlack{
	background-color: black;
}
.colorWhite{
	color: white;
}
.noDecoration{
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.header_info{
	margin-top:50px;
}
.hidden{
display:none !important;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
.login_header {
	width: 100%;
	margin-bottom: 15px;
	height: 47px;
}
.login_bouton_header{
	background-color: white;
	width: 15%;
	padding: 8px 10px 10px 8px;
	border-radius: 60px;
	margin-left: 20px;
	cursor: pointer;
}
header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 50px ;
}
#header_info{
	display: block;
	margin-top: 62px;
}

.login_modifier{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-bottom: 20px;
}
.login_img{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 50px;
	margin-top: 15px;
}
.login_projet{
	margin-left: 20px;
	margin-bottom: 20px;

}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;

}
.Link_Nav{
	color: black;
	cursor: pointer;
}


#logoutBtn{
	display:none; 
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.filtres> button{
	background-color: white;
	color: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 60px;
	height: 37px;
	font-size: 16px;
	line-height: 19px;
	margin-right: 15px;
	margin-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
}
.filtres> button:hover{
	background-color:#1D6154;
	color: #FFFFFF;
}

/*LogIn*/
.LogIn_main{
	margin-bottom: 379px;
}
.LogIn_container{
	width: 27%;
}
.LogIn_form{
	width: 100%;
}
.form_title{
	margin-bottom: 30px;
}
#error_msg{
	margin-bottom: 20px;
	color: red;
}
.form_Input_container > label{
	margin-bottom: 10px;
}
.form_input{
	width: 100%;
	height: 39px;
	background-color: white;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 15px;
}

.LogIn_button  button{
	margin-top: 15px;
	background: #1D6154;
	border-radius: 60px;
	color: white;
	width: 47%;
	height: 28px;
	cursor: pointer;
}
.form_text{
	margin-top: 20px;
}
.form_lien{
	color: black;
	text-decoration: underline;
}
.logout{
	display: none;
}
/*Modale*/
#modal{
position: absolute;
width: 1140px;
height: 3500px;
margin: 0 auto;
background-color: rgba(0, 0, 0, 0.3);
}
.modal_wrapper{
	width: 550px;
	background-color: #FFFFFF;
	margin: 300px auto;
	
}
#gallery_modal{
	width : 66%; 
	height: 500px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 3px;
	grid-row-gap: 3px;
	margin: 10px;
	padding: 30px 1px;
	
}
#gallery_modal img{
width: 100%;
}
.imageModal{
	z-index: 1;
	
}
.action_Works_add{
	position: absolute;
	top: 5px;
	right: 5px;
	display: flex;
	gap: 5px;
}
.action-item {
	z-index: 2;
	background: #000000;
	border-radius: 2px;
	color: #FFFEF8;
	font-size: 9px;
}
.hover-action-item {
	display: none;
}

.works_modal:hover .hover-action-item {
	display: block;
}
.works_modal{
	position: relative;
}
.modal_title{
	color: black ;
	font-size: 24px;
	font-family:'Work Sans';
	font-weight: 400;
}
.modal_header{
    width: 90%;
    height: 70px;
	margin-top: 25px;
}
.icone_cross{
	display: flex;
    justify-content: flex-end;
    width: 100%;
	font-size: 20px;
	cursor: pointer;
}
.link_modal{
	width: 70%;
	height: 90px;
	border-top: 1px solid #B3B3B3;
	padding-top: 20px;
	margin-bottom: 20px;
}
.add_img{
	width: 70%;
	height: 30px;
	border-radius: 60px;
	background: #1D6154;
	cursor: pointer;
}
.delete_button{
	color: #D65353;
}
.modal_add_wrapper{
	width: 550px;
	height: 630px;
	background-color: #FFFFFF;
	margin: 300px auto;
	padding: 20px 15px 20px 15px;
}
.modal_header_icone{
margin-bottom: 30px;
font-size: 20px;
cursor: pointer;
}
.title_add_pics{
font-weight: 400;
font-size: 26px;
line-height: 30px;
margin-bottom: 30px;
}
.btn_add_photo_container{
	width: 400px;
	height: 150px;
	background: #E8F1F7;
	border-radius: 3px;
	margin-bottom: 30px;

}
.icone_add{
	font-size: 45px;
	padding-top: 15px;
	margin-bottom: 15px;
}
.btn_add{
	width: 173px;
	height: 36px;
	background: #CBD6DC;
	border-radius: 50px;
	border: none;
	color: #306685;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 10px;
	cursor: pointer;
}
.input_add{
	width: 75%;
}
.input_add > label{
	margin-bottom: 9px;
	font-size: 15px;
	line-height: 16px;
}
.input_add > input, select{
	width: 100%;
	height: 50px;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 15px;
	border: none;
}
.btn_validate{
	width: 400px;
	margin-top: 50px;
	border-top:1px solid #B3B3B3;
}
.add_pic{
	width: 237px;
	height: 36px;
	background: #A7A7A7;
	border-radius: 60px;
	border: none;
	margin-top: 35px;
	cursor: pointer;
}
* {box-sizing: border-box;}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
	float: left;
	width: 50%;
  }
  
  /* Add a color to the cancel button */
  .cancelbtn {
	background-color: #ccc;
	color: black;
  }
  
  /* Add a color to the delete button */
  .deletebtn {
	background-color: #f44336;
  }
  
  /* Add padding and center-align text to the container */
  .container {
	padding: 16px;
	text-align: center;
  }
  
  /* The Modal (background) */
  .deleteModal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: #474e5d;
	padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* Style the horizontal ruler */
  hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
  }
  
  /* The Modal Close Button (x) */
  .close {
	position: absolute;
	right: 35px;
	top: 15px;
	font-size: 40px;
	font-weight: bold;
	color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
	color: #f44336;
	cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
	content: "";
	clear: both;
	display: table;
  }
  
  /* Change styles for cancel button and delete button on extra small screens */
  @media screen and (max-width: 300px) {
	.cancelbtn, .deletebtn {
	  width: 100%;
	}
  }